
<h2>Bienvenido a T&T-Shirts</h2>
<p>Encuentra una gran variedad de remeras a excelentes precios.</p>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/index.js" ></script>